$primary-color: rgb(30, 30, 30);
$text-color-primary: whitesmoke;
$text-color-secondary: rgb(255, 255, 97);
$color-gray-light: rgb(103, 103, 103);
$color-gray-medium: rgb(80, 80, 80);
$backGround-primary: rgba(23, 23, 23, .8);
$text-color-secondary-hover: rgb(255, 255, 176);

/*Breakpoints*/
$small: 440px;
$medium: 769px;
$large: 960px;
$x-large: 1025px;
$xx-large: 1250px;